*
!README.md
!.gitignore
!.bash_aliases
!.bashrc
!.bash_profile
!.config
!.config/hypr
!.config/hypr/*
!.config/hypr/wallpapers/default.jpg
!.config/hypr/icons/default.jpg
!.config/waybar
!.config/waybar/*
!.config/waybar/menus/*
!.config/fuzzel
!.config/fuzzel/*
!.config/kitty
!.config/kitty/*
!.config/nvim
!.config/nvim/*
!.config/fastfetch
!.config/fastfetch/*
!.config/spotify-player
!.config/spotify-player/theme.toml
