* {
	font-family: "NotoSansMono-Regular";
}

.modules-left {
	margin-left: 10px;
}

.modules-right {
	margin-right: 10px;
}

window#waybar {
	background-color: rgba(40,40,40,0);
	border-color: rgba(89,89,89,0);
	border-radius: 0px;
}

#group-workspaces, #group-hardware, #group-system, #clock, #cava {
	background-color: rgba(40,40,40,1);
	border-radius: 20px;
	border-style: solid;
	border-color: rgba(89,89,89,0.67);
	border-width: 2px;
}

#group-hardware, #group-system {
	padding: 0 10px;
}

#clock, #cava {
	padding: 0 20px;
}

#cava {
	min-width: 482px;
}

#group-hardware .module, #group-system .module {
	margin: 0 10;
}

#group-workspaces {
	padding-right: 10px;
}

#custom-icon {
	color: rgba(98,160,234,1);
	border-radius: 25px;
	border-style: solid;
	border-width: 0 0 0 0;
	border-color: rgba(89,89,89,0.67);
	padding: 0 10 0 15;
}

#workspaces button:hover {
	color: rgba(255,255,255,0.6);
	background-color: rgba(89,89,89,1);
	border-style: none;
	margin: 0;
	padding: 0 10;
	border-radius: 0;
	box-shadow: none; /* Remove predefined box-shadow */
	text-shadow: none; /* Remove predefined text-shadow */
	background: none; /* Remove predefined background color (white) */
	transition: none; /* Disable predefined animations */

}


#workspaces button.active {
	color: rgb(98,160,234);
	border-radius: 0;
}


#menu {
	background-color: rgba(40,40,40,0.6);
}

#pulseaudio, #backlight, #cpu, #memory {
	min-width: 54px;
}

#temperature {
	min-width: 60px;
}

#pulseaudio.bluetooth {
	min-width: 70px;
}


