window#waybar {
	background-color: rgba(40,40,40,0.6);
	border-radius: 25px;
	border-style: solid;
	border-color: rgba(255,255,255,0.2);
	border-width: 2px;
}

#menu {
	background-color: rgba(40,40,40,0.6);
}

.modules-left {
	margin-left: 15px;
}

.modules-right {
	margin-right: 20px;
}

* {
	color: rgba(255,255,255,1)
}
